[submodule "frontend"]
	path = frontend
	url = https://github.com/hoangdiep271024/anime.git
[submodule "backend/userService"]
	path = backend/userService
	url = https://github.com/22026536/userService.git
[submodule "backend/animeService"]
	path = backend/animeService
	url = https://github.com/22026536/animeService.git
[submodule "backend/adminService"]
	path = backend/adminService
	url = https://github.com/22026536/adminService.git
[submodule "backend/userAnimeService"]
	path = backend/userAnimeService
	url = https://github.com/22026536/userAnimeService.git
[submodule "backend/KNNService"]
	path = backend/KNNService
	url = https://github.com/22026536/KNNService.git
[submodule "backend/DecisionTreeService"]
	path = backend/DecisionTreeService
	url = https://github.com/22026536/DecisionTreeService.git
[submodule "backend/NaiveBayesService"]
	path = backend/NaiveBayesService
	url = https://github.com/22026536/NaiveBayesService.git
[submodule "backend/gateway"]
	path = backend/gateway
	url = https://github.com/22026536/gateway.git
